/libexec/
/share/
/licensing/
/plugins/
/phrasebooks/
/mkspecs/
/conda-meta/
/libexec/
/resources/
/bin/
/include/
/ssl/
/etc/
/doc/
/qml/
/lib/
/translations/
/ssl/
/licensing/
/lib/
/include/
/conda-meta/
/bin/
